@model HotelGestionale.ViewModels.LoginViewModel

<form asp-controller="Account" asp-action="Login" method="post">
    <div>
        <label for="Email">Email</label>
        <input asp-for="Email" type="email" id="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label for="Password">Password</label>
        <input asp-for="Password" type="password" id="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
